<ion-row style="width: 100%;" class="ion-padding">
    <ion-row style="width: 100%" class="ion-justify-content-end">
        <ion-icon (click)="onClickCloseDialog()" name="close-circle-outline" style="color: #afafaf;font-size: 35px"></ion-icon>
    </ion-row>
    <ion-row style="width: 100%;">
        <ion-col size="6" class="ion-no-margin">
            <ion-button style="--border-radius: 15px;width: 100%" mode="ios" color="primary">As Trainee</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-no-margin">
            <ion-button
                    style="--border-radius: 15px;width: 100%;;--background: #dcdedd;--color: #686a69;--background-activated: #c6c8c7"
                    mode="ios">As
                Trainer
            </ion-button>
        </ion-col>
    </ion-row>
</ion-row>