// .reg_certificate{
//     .arrow_back_icon{float: left; width: 20px; font-size: 20px;margin-top: 3px;}
//     .mt-4{
//         margin-top: 20px;
//     }
// }

.reg_certificate{

   background-color: red;
}