<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate"></ion-back-button>
        </ion-buttons>

        <h1>{{ 'core.login.login' | translate }}</h1> -->

        <ion-buttons slot="end">
            <ion-button fill="clear" [inApp]="'inappbrowser'" core-link
                        [href]="'https://qaed-lms.pitb.gov.pk/support/faqs.php'"
                        [attr.aria-label]="'core.help' | translate">
                <ion-icon slot="icon-only" name="far-question-circle" aria-hidden="true"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding login_page">
    <core-loading [hideUntil]="pageLoaded">
        <div class="ion-text-wrap ion-text-center ion-margin-bottom">
            <!-- <div class="core-login-site-logo"> -->
            <!-- Show site logo or a default image. -->

            <div class="logo">
                <img *ngIf="1" [src]="logoUrl" role="presentation" alt=""
                     onError="this.src='assets/img/login_img.png'">
            </div>
            <!-- </div> -->

            <!-- <h3 *ngIf="siteName" class="ion-padding core-sitename">
                <core-format-text [text]="siteName" [filter]="false"></core-format-text>
            </h3> -->
            <!-- <p class="core-siteurl">{{siteUrl}}</p> -->
        </div>

        <form [formGroup]="credForm" (ngSubmit)="login($event)" class="core-login-form" #credentialsForm>
            <ion-item *ngIf="siteChecked && !isBrowserSSO">
                <ion-label class="sr-only">{{ 'core.login.username' | translate }}</ion-label>
                <ion-input type="text" name="username" placeholder="Enter your CNIC"
                           formControlName="username" autocapitalize="none" autocorrect="off" autocomplete="username"
                           enterkeyhint="next" required="true">
                </ion-input>
            </ion-item>
            <ion-item *ngIf="siteChecked && !isBrowserSSO" class="ion-margin-bottom">
                <ion-label class="sr-only">{{ 'core.login.password' | translate }}</ion-label>
                <core-show-password name="password">
                    <ion-input name="password" type="password" placeholder="Enter your password"
                               formControlName="password" [clearOnEdit]="false" autocomplete="current-password"
                               enterkeyhint="go" required="true">
                    </ion-input>
                </core-show-password>
            </ion-item>

            <!-- <ion-row>
                <ion-col size="12">
                  <ion-button size="large" [routerLink]="['/home']" color="success" class="button button-block">Login</ion-button>
                </ion-col>
            </ion-row> -->

            <ion-button size="large" color="success" type="submit"
                        [disabled]="siteChecked && !isBrowserSSO && !credForm.valid"
                        class="button button-block">
                <!-- {{ 'core.login.loginbutton' | translate }} -->
                Login
            </ion-button>

            <!-- Remove this once Ionic fixes this bug: https://github.com/ionic-team/ionic-framework/issues/19368 -->
            <input type="submit" class="core-submit-hidden-enter"/>
        </form>

        <!-- Forgotten password option. -->
        <!--        <ion-button *ngIf="showForgottenPassword" expand="block" fill="clear" color="dark"-->
        <!--                    class="core-login-forgotten-password core-button-as-link ion-text-wrap"-->
        <!--                    (click)="forgottenPassword()">-->
        <!--            <ion-label>{{ 'core.login.forgotten' | translate }}</ion-label>-->
        <!--        </ion-button>-->

        <ion-list *ngIf="identityProviders && identityProviders.length"
                  class="ion-padding-top core-login-identity-providers">
            <ion-item class="ion-text-wrap" lines="none">
                <ion-label>
                    <h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3>
                </ion-label>
            </ion-item>
            <ion-item button *ngFor="let provider of identityProviders" class="ion-text-wrap core-oauth-icon"
                      (click)="oauthClicked(provider)" [attr.aria-label]="provider.name" detail="false">
                <img [src]="provider.iconurl" alt="" width="32" height="32" slot="start">
                <ion-label>{{provider.name}}</ion-label>
            </ion-item>
        </ion-list>

        <ion-list *ngIf="canSignup" class="ion-padding-top core-login-sign-up">
            <ion-item class="ion-text-wrap" lines="none">
                <ion-label>
                    <h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3>
                </ion-label>
            </ion-item>
            <ion-item class="ion-text-wrap" lines="none" *ngIf="authInstructions">
                <ion-label>
                    <p>
                        <core-format-text [text]="authInstructions" [filter]="false"></core-format-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-button expand="block" class="ion-margin ion-text-wrap" color="light" (click)="openEmailSignup()">
                {{ 'core.login.startsignup' | translate }}
            </ion-button>
        </ion-list>
    </core-loading>
</ion-content>
